html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
/* stylelint-disable selector-max-id, selector-max-specificity */
#root {
    height: 100%;
    width: 100%;
    background: #ffffff;
}
/* stylelint-enable */
